<link rel="stylesheet" href="/css/card.css">
<div class="container">
    <div class="row">
{{#each registers}}
        <div class="col-3">
            <div class="card">
                <div class="card-image"></div>
                <div class="card-text">
                    <span class="date"> info </span>
                    <h2></h2>
                    <p>From:</p>
                    <p>TO:</p>
                </div>
                <div class="card-stats">
                    <div class="stat">
                        <div class="value">4m</div>
                        <div class="type">asdas</div>
                    </div>
                </div>
            </div>
        </div>
{{else}}
<div>Nenhum registro encontrado</div>
{{/each}}
    </div>
</div>