<link rel="stylesheet" href="/css/init.css">
<section class="header-site">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">WELCOME</h1>
                <p class="lead text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <p class="text-center"><a href="#" class="btn btn-danger">TRAVEL</a></p>
            </div>
        </div>
    </div>
</section>

<section class="content-site">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">WELCOME</h1>
                <p class="lead text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-7 card">
                <div class="thumbnail body-card pt-4 pb-4">
                    <div class="caption text-center">
                        <form action="/register/new" method="POST">
                            <input type="text" id="name" name="name" placeholder="Name" class="form-control mt-10"
                                required>
                            <input type="tel" id="phone" name="phone" placeholder="Phone form: XX-XXXXX-XXXX"
                                class="form-control mt-1" required pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}">
                            <div class="row mt-1">
                                <div class="col-6 pr-0">
                                    <input type="text" id="origin" name="origin" placeholder="Origin"
                                        class="form-control" required>
                                </div>
                                <div class="col-6 pl-0">
                                    <input type="text" id="destination" name="destination" placeholder="Destination"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-6 pr-0">
                                    <label class="text-left">Date from:</label>
                                    <input type="date" id="date_from" name="date_from" class="form-control" required>
                                </div>
                                <div class="col-6 pl-0">
                                    <label class="text-left">Date to:</label>
                                    <input type="date" id="date_to" name="date_to" class="form-control" required>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-6 pr-0">
                                    <input type="number" id="trav_numb" name="trav_numb" placeholder="Travelers number"
                                        class="form-control" required min="1">
                                </div>
                                <div class="col-6 pl-0">
                                    <button type="submit" class="btn btn-success form-control">Travel</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h3>TITULO 2</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer-site">
        <div class="row m-0">
            <div class="col-12 p-0">
            <p>LOTTMMMMm</p>
            </div>
        </div>
</section>