<link rel="stylesheet" href="/css/thanks.css">
<link rel="stylesheet" href="/css/init.css">
<section>
    <div class="banner-text" style="text-align: center;">
        <h2>Thank you for choosing us</h2>
        <p>Soon one of our attendants will contact you</p>
        <h3>Good Trip!!</h3>
    </div>
    <div class="animation-area">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
<section class="footer-site">
        <div class="row m-0">
            <div class="col-12 p-0">
            <p>LOTTMMMMm</p>
            <a href="/">New Travel</a>
            </div>
        </div>
</section>